<div class="row clearfix">
	<% if bucket_item.completed? %>
		<div class="complete">
			<%= link_to complete_bucket_list_bucket_item_path(@bucket_list, bucket_item.id), method: :patch do %>
				<i style="opacity: 0.3;" class="fa fa-check" ></i>
			<% end %>
		</div>
		<div class="bucket_item">
			<p style="opacity: 0.3;"><strike style="color: #4d4d4d;"><%= bucket_item.content %></strike></p>
		</div>
		<div class="trash">
			<%= link_to bucket_list_bucket_item_path(@bucket_list, bucket_item.id), method: :delete, data: { confirm: "Are you sure?" } do %>
				<i class="fa fa-trash"></i>
			<% end %>
		</div>
	<% else %>
		<div class="complete">
			<%= link_to complete_bucket_list_bucket_item_path(@bucket_list, bucket_item.id), method: :patch do %>
				<i class="fa fa-check"></i>
			<% end %>
		</div>
		<div class="bucket_item">
			<p><%= bucket_item.content %></p>
		</div>
		<div class="trash">
			<%= link_to bucket_list_bucket_item_path(@bucket_list, bucket_item.id), method: :delete, data: { confirm: "Are you sure?" } do %>
				<i class="fa fa-trash"></i>
			<% end %>
		</div>
	<% end %>
</div>
